In [5]:
import pandas as pd

In [11]:
# csv'den veri okuma
df = pd.read_csv("titanic.csv", sep=",", header=0, usecols=["Passengerid", "Age", "Sex", "Fare"], nrows=100)

In [12]:
df

    Passengerid   Age     Fare  Sex
0             1  22.0   7.2500    0
1             2  38.0  71.2833    1
2             3  26.0   7.9250    1
3             4  35.0  53.1000    1
4             5  35.0   8.0500    0
..          ...   ...      ...  ...
95           96  28.0   8.0500    0
96           97  71.0  34.6542    0
97           98  23.0  63.3583    0
98           99  34.0  23.0000    1
99          100  34.0  26.0000    0

[100 rows x 4 columns]

In [13]:
df_excel = pd.read_excel("ham_veri.xlsx", sheet_name = "Rapor")

In [14]:
#Excel'den veri okuma
df_excel

        Tarih    Ürün  Fiyat  Adet
0  2023-01-01   Kalem   10.5   100
1  2023-01-01   Silgi    5.0   200
2  2023-01-02  Defter   25.0    50
3  2023-01-02   Kalem   10.5    20
4  2023-01-03   Çanta    NaN    10

In [15]:
#Eksik verileri doldurma
df_excel["Fiyat"] = df_excel["Fiyat"].fillna(0)

In [21]:
df_excel # Nan değerler 0 ile dolduruldu, Nan ile 0 aynıdır. toplamada ve çarpmada etkilemez.

        Tarih    Ürün  Fiyat  Adet  ToplamTutar
0  2023-01-01   Kalem   10.5   100       1050.0
1  2023-01-01   Silgi    5.0   200       1000.0
2  2023-01-02  Defter   25.0    50       1250.0
3  2023-01-02   Kalem   10.5    20        210.0
4  2023-01-03   Çanta    0.0    10          0.0

In [19]:
#Kolon türetme
df_excel["ToplamTutar"] = df_excel["Fiyat"]*df_excel["Adet"]

In [20]:
df_excel

        Tarih    Ürün  Fiyat  Adet  ToplamTutar
0  2023-01-01   Kalem   10.5   100       1050.0
1  2023-01-01   Silgi    5.0   200       1000.0
2  2023-01-02  Defter   25.0    50       1250.0
3  2023-01-02   Kalem   10.5    20        210.0
4  2023-01-03   Çanta    0.0    10          0.0

In [22]:
df_filtered = df_excel[df_excel["ToplamTutar"] > 100].copy()

In [23]:
df_filtered

        Tarih    Ürün  Fiyat  Adet  ToplamTutar
0  2023-01-01   Kalem   10.5   100       1050.0
1  2023-01-01   Silgi    5.0   200       1000.0
2  2023-01-02  Defter   25.0    50       1250.0
3  2023-01-02   Kalem   10.5    20        210.0

In [26]:
# excel dosyası indiğinde otomatik olarak index geldiğini görürüz, bunun önüne geçmek için index_false yapılır.

In [25]:
df_filtered.to_excel("islenmis_veri.xlsx",sheet_name="Data", index=False)

In [27]:
# Eğer aynı anda tekrar excel dosyası oluşturursak bu şekilde indexler tekrar gelir, üstüne yazar.
df_filtered.to_excel("islenmis_veri.xlsx",sheet_name="Data")

In [68]:
# SQL Server
import sqlalchemy as sa #SQl'e bağlanmanın yolu, sorgulatma işi yine pandas ile yapılacak.

In [69]:
#SQL'in kurulu olduğu sunucunun adı
SERVER = "DESKTOP-3FP500S"
DATABASE = "AdventureWorksLT2022"
USERNAME = "admin"
PASS = "123456"
DRIVER = "ODBC Driver 17 for SQL Server"
#Kaynak Türü --> MsSQL (Buradan veri okunacak)
#pyodbc --> Hangi Python modülüyle veri alacağımızı söyleriz.
#&trusted_connection=yes --> Kullanıcı adı ve şifresini bilmeden bağlantı kurmamızı sağlar.
conn_str = f"mssql+pyodbc://{SERVER}/{DATABASE}?driver={DRIVER}&trusted_connection=yes"

In [70]:
# Bu obje ile bağlantıyı oluşturabiliriz.
conn_str

'mssql+pyodbc://DESKTOP-3FP500S/AdventureWorksLT2022?driver=ODBC Driver 17 for SQL Server&trusted_connection=yes'

In [71]:
#Bağlantı oluşturunca SQL Server'da sorgu çalıştırınca motor oluşuyor.
#SQL motoru oluşturmak için engine create etmemiz gerekir.
try:
    engine = sa.create_engine(conn_str)
    engine.connect()
    print("Connection kuruldu.")
except Exception as e:
    print("Hata bulundu, hatanın sebebi de şu: ",e)

Hata bulundu, hatanın sebebi de şu:  (pyodbc.OperationalError) ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [57]:
#SQL'den veri okuma
query = "SELECT * FROM [AdventureWorksLT2022].[SalesLT].[Customer]"

In [72]:
# İçerisine 2 paraemtre gönderilir: SQL'in çalışacağı komut ve connection bağlantısı gereklidir.
df_sql = pd.read_sql(query,engine)

OperationalError: (pyodbc.OperationalError) ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
df_sql

In [78]:
#SQL'den veri yazma
ogrenciler = pd.DataFrame({"Ad":["Ahsen","Aybüke","Ayşegül,""Aziz"],
                          "Notlar":[90,100,95,100]
                          })
ogrenciler.to_sql(name="Ogrenciler",con=engine,index=False, if_exists = "replace")

ValueError: All arrays must be of the same length

In [80]:
yeni_ogrenciler = pd.DataFrame({"Ad":["Furkan","Ecodation","Kübra,""Salih"],
                          "Notlar":[90,100,95,100]
                          })
yeni_ogrenciler.to_sql(name="Students",con=engine,index=False, if_exists = "append")

ValueError: All arrays must be of the same length

In [81]:
yeni_ogrenciler.to_sql(name="Students",con=engine,index=False, if_exists = "append", chunksize = 2)

NameError: name 'yeni_ogrenciler' is not defined